argparse==1.4.0
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
et-xmlfile==1.1.0; python_version >= '3.6'
filehash==0.2.dev1
idna==3.7; python_version >= '3.5'
numpy==1.26.4; python_version == '3.11'
openpyxl==3.1.2; python_version >= '3.6'
pandas==2.2.0; python_version >= '3.9'
pyside6==6.6.3; python_version < '3.13' and python_version >= '3.8'
pyside6-addons==6.6.3; python_version < '3.13' and python_version >= '3.8'
pyside6-essentials==6.6.3; python_version < '3.13' and python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.1
regex==2024.4.16; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
shiboken6==6.6.3; python_version < '3.13' and python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
tzdata==2024.1; python_version >= '2'
urllib3==2.2.1; python_version >= '3.8'
xlsxwriter==3.2.0; python_version >= '3.6'
