# yamllint disable rule:line-length
# yamllint disable rule:indentation
# yamllint disable rule:comments-indentation
# yamllint disable rule:comments
---
- module-name: 'jwlcore'
  dlls:
    - from_filenames:
        relative_path: 'libs'
        prefixes:
          - 'libjwlCore*'
        suffixes:
          - 'so'
        when: 'linux'

    - from_filenames:
        relative_path: 'libs'
        prefixes:
          - 'libjwlCore'
        suffixes:
          - 'dylib'
        when: 'macos'

    - from_filenames:
        relative_path: '.'
        prefixes:
          - 'jwlCore-amd64'
        suffixes:
          - 'dll'
        when: 'win32'