# yamllint disable rule:line-length
# yamllint disable rule:indentation
# yamllint disable rule:comments-indentation
# yamllint disable rule:comments
---
- module-name: 'jwlcore'
  platforms:
    linux:
      dlls:
        - from_filenames:
            relative_path: 'libs'
            prefixes:
              - 'libjwlCore*'
            suffixes:
              - 'so'
    
    macos:
      dlls:
        - from_filenames:
            relative_path: 'libs'
            prefixes:
              - 'libjwlCore'
            suffixes:
              - 'dylib'
    
    win32:
      dlls:
        - from_filenames:
            relative_path: '.'
            prefixes:
              - 'jwlCore-amd64'
              - 'sqlite3_64'
            suffixes:
              - 'dll'