# yamllint disable rule:line-length
# yamllint disable rule:indentation
# yamllint disable rule:comments-indentation
# yamllint disable rule:comments
---
- module-name: 'jwlcore'
  dlls:
    - from_filenames:
        relative_path: 'libs'
        prefixes:
          - 'libjwlCore*'
        suffixes:
          - 'so'
        when: 'linux'

    - from_filenames:
        relative_path: 'libs'
        prefixes:
          - 'libjwlCore-arm64'
        suffixes:
          - 'dylib'
        when: 'macos and arch_arm64'

    - from_filenames:
        relative_path: 'libs'
        prefixes:
          - 'libjwlCore-x86_64'
        suffixes:
          - 'dylib'
        when: 'macos and arch_amd64'